<div class="home-page">
  <app-button *ngIf="isUserLoggedIn; else NotLoggedIn  " [buttonLabel]="'LogOut'" (buttonClicked)="logOut()"></app-button>
  <ng-template #NotLoggedIn >User Not Logged In</ng-template>
  <h2>Home Page</h2>
  <pre>{{questions | json}}</pre>
</div>
