.input-title {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  .input-box {
    border: 0;
    border-bottom: medium solid #ccc;
    outline: 0;
  }
}
