<div class="input-title">
  <label [for]="label">{{ label }}</label>
  <input
    [type]="type"
    [id]="label"
    class="input-box"
    [ngModel]="inputValue"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="onChange($event)"
  />
</div>
