.signup-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0;
  box-shadow: 2px 2px 6px 2px #ccc;
  border-radius: 4px;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  text-align: center;
  min-height: 50vh;
}
