<div class="signup-card">
  <h1>Sign Up</h1>
  <form [formGroup]="userSignUpForm" (ngSubmit)="onSignUp(userSignUpForm)">
  <app-input-tile label="Username" type="text" formControlName="name" ></app-input-tile>
  <app-input-tile label="Email" type="email" formControlName="email"></app-input-tile>
  <app-input-tile label="Password" type="password" formControlName="password"></app-input-tile>
  <app-input-tile label="Confirm Password" type="password" formControlName="confirmPassword"></app-input-tile>
  <app-button buttonLabel="Sign Up" type="submit"></app-button>
</form>
</div>


