<div class="login-card">
  <h1>Login</h1>
  <form [formGroup]="userLoginForm" (ngSubmit)="onLogin(userLoginForm)">
  <app-input-tile label="Email"type="email" formControlName="userEmail"></app-input-tile>
  <app-input-tile label="Password" type="password" formControlName="password"></app-input-tile>
  <app-button class="btn" buttonLabel="Login" type="submit" *ngIf="!userLoginForm.invalid"></app-button>
</form>
</div>
